header {
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  #cell1 {
    text-align: center;
    background-color: #00ffff;
    color: white;
  }
  #cell3{
    text-align: center;
    background-color:#ffd700; 
    color: white;
  }
  #cell5 {
    text-align: center;
    background-color: #7fffd4;
    color: white;
  }
  #cell7 {
    text-align: center;
    background-color:#daa520; 
    color: white;
  }
  #cell9 {
    text-align: center;
    background-color:#7fff00;
    color: white;
  }
  #cell11 {
    text-align: center;
    background-color:#f0e68c; 
    color: white;
  }
  #cell13 {
    text-align: center;
    background-color:#008b8b;  
    color: white;
  }
  #cell15 {
    text-align: center;
    background-color:#ffe4b5;
    color: white;
  }
  footer {
    text-align: center;
    background: #1abc9c;
    color: white;
  }